@import url("http://fonts.cdnfonts.com/css/typo-grotesk-rounded");

* {
    font-family: "Typo Grotesk Rounded", sans-serif;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 80px;
    height: auto;
}
.cantidad{
    font-size: 30px;
}

.wrap-table {
    width: 90%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(127deg, #ecf7cf, rgb(187, 247, 224));
    animation: gradient 20s ease infinite alternate;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#table {
    width: 100%;
    text-align: left;
    font-size: 22px;
}

#table::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

#btn-volver {
    margin-top: 30px;
    height: 50px;
    width: 130px;
    cursor: pointer;
    border-radius: 10px;
    border: 0 solid;
    background-color: rgb(53, 53, 53);
    color: #fff;
    font-size: 30px;
}

#btn-volver:hover {
    background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
    .wrap-table {
        background: none;
    }
    .table-tr {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border-radius: 10px;
        background: linear-gradient(127deg, #ecf7cf, rgb(187, 247, 224));
    }
    .table-image {
        width: 70px;
        height: auto;
    }

    .items-info {
        display: flex;
        flex-direction: row;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .cantidad{
        font-size: 30px;
    }

    #table thead {
        display: none;
    }

    #table tr {
        margin-bottom: 15px;
    }
    #table td {
        position: relative;
    }
    #table td::before {
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}
