@import url("http://fonts.cdnfonts.com/css/typo-grotesk-rounded");

* {
    font-family: "Typo Grotesk Rounded", sans-serif;
}

.content-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
}

#btn-volver {
    position: relative;
    margin-top: 200px;
    margin-left: -25px;
    height: 50px;
    width: 130px;
    cursor: pointer;
    border-radius: 10px;
    border: 0 solid;
    background-color: rgb(53, 53, 53);
    color: #fff;
    font-size: 30px;
}

#btn-volver:hover {
    background-color: rgb(0, 0, 0);
}

.sparks {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    z-index: 5;
    animation: fadeIn 1s linear forwards;
    animation-delay: 1s;
    opacity: 0;
    background: linear-gradient(127deg, #ecf7cf, rgb(187, 247, 224));
    -webkit-box-shadow: 0px 0px 30px 5px rgba(39, 219, 174, 0.3);
    box-shadow: 0px 0px 30px 5px rgba(39, 219, 174, 0.3);
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#foto {
    width: 30px;
    height: auto;
    z-index: 12;
    animation: fadeIn 1s linear forwards;
    animation-delay: 1s;
    opacity: 0;
}
#nombre {
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
    z-index: 12;
    color: #616161;
    animation: fadeIn 1s linear forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(3, 3);
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.human img {
    image-rendering: pixelated;
    position: absolute;
    width: 70px;
    height: auto;
    margin-left: 10px;
    animation: agrandar-humano 2s linear;
}

@keyframes agrandar-humano {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(2, 2);
    }
}

.dog img {
    image-rendering: pixelated;
    position: absolute;
    width: 85px;
    margin-top: 70px;
    margin-right: 10px;
    height: auto;
    animation: rotacion 1s linear, 1s agrandar 1s linear;
}

@keyframes rotacion {
    0% {
        transform: rotate(-30deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    70% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes agrandar {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(2, 2);
    }
}

@media screen and (max-width: 400px) {

    .human img {
        width: 40px;
        margin-left: 20px;
    }

    .dog img {
        width: 40px;
        margin-left: 20px;
    }

    .sparks {
        width: 70px;
        height: 70px;
    }
    .flex-item {
        margin-right: 20px;
    }
    

    #foto {
        width: 20px;
        height: auto;
    }
    #nombre {
        font-size: 10px;
    }
}